/* CONFIG */
:root {
  --color-orange: #ff9900;
  --color-orange-alt: #ff6600;
  --font-default: 16;
  --balloon-font: 50;
  --jack-font: 200;
}

.sr-only {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

html {
  font-size: calc(var(--font-default) * 1px);
}





/* PAGE */
.hola {
  font-family: Comic Sans MS, arial, sans-serif;
  min-height: 100vh;
  min-height: 100dvh;
  background: linear-gradient(var(--color-orange), var(--color-orange-alt) 45%) center no-repeat var(--color-orange);
  display: grid;
  grid-template-rows: 1fr auto;
  margin: 0;
}




/* CONTENT */
.hola__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(50 / var(--font-default) * 1em) 0;
  overflow: hidden;
}

.hola__group {
  position: relative;
  font-size: clamp(calc(12 / var(--font-default) * 1em), 2vw, calc(18 / var(--font-default) * 1em));
}


.hola__title {
  font-size: inherit;
}

.hola__title-icon {
  font-size: calc(var(--jack-font) / var(--font-default) * 1em);
  display: block;
  position: relative;
}

.hola__title-icon::before,
.hola__title-icon::after,
.hola__group::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 98%;
  width: calc(134 / var(--jack-font) * 1em);
  height: calc(38 / var(--jack-font) * 1em);
  background: black;
  border-radius: 50%;
  transform: translate(-50%, -174%);
  z-index: -1;
  filter:blur(14px);
  opacity: .7;
}

.hola__title-icon::after {
  background-color: #883F01;
  z-index: -2;
  transform: translate(-50%, -126%);
  opacity: .84;
  width: calc(228 / var(--jack-font) * 1em);
  height: calc(64 / var(--jack-font) * 1em);
}

.hola__group::before {
  background-color: #F1EC0B;
  z-index: -2;
  transform: translate(-50%, -92%);
  opacity: .35;
  filter:blur(40px);
  width: calc(536 / var(--font-default) * 1em);
  height: calc(152 / var(--font-default) * 1em);
}

.hola__output {
  position: absolute;
  font-size: calc(var(--balloon-font) / var(--font-default) * 1em);
  font-weight: bold;
  left: calc(210 / var(--balloon-font) * 1em);
  bottom: calc(205 / var(--balloon-font) * 1em);
  min-width: calc(62 / var(--balloon-font) * 1em);
  text-align: center;
}

.hola__output::after {
  position: absolute;
  top: 100%;
  left: 0;
  content: '';
  width: calc(80 / var(--balloon-font) * 1em);
  height: calc(80 / var(--balloon-font) * 1em);
  border: calc(3 / var(--balloon-font) * 1em) solid transparent;
  border-bottom-color: white;
  border-radius: 50%;
  transform: translate(-60%, -50%) rotate(-45deg);
}




/* FOOTER */
.hola__footer {
  background-color: #8f320b;
  text-align: center;
  color: #fff;
}

.hola__footer-copy {
  margin: 0;
  padding: 1em;
}

.hola__link {
  color:  inherit;
  text-decoration-color: #a3f00b;
}